@page "/"

@using DataLayer
@using DataLayer.Models

@inject IExpenseActions _expdb

<PageTitle>Index</PageTitle>
<h1>Hello, world!</h1>

@if (_ExpenseDetail is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul class="list-group">
        @foreach (var _expense in _ExpenseDetail)
        {
            <li class="list-group-item list-group-item-success my-1">

                @_expense.Category
                @_expense.Amount 
            </li>

        }
    </ul>
}

@code {
    private List<ExpenseDetail>? _ExpenseDetail;
    protected override async Task OnInitializedAsync()
    {
        _ExpenseDetail = await _expdb.GetExpenseDetails();
    }
   
}